- require 'cdo/footer'

- options = {}
- options[:ge_region] = request.ge_region
- options[:site] = :hour_of_code
- options[:loc_prefix] = 'footer_menu_'
- options[:i18n] = method(:hoc_s)
- footer_contents = Cdo::Footer.get_footer_contents(options)

%footer#pagefooter
  #footer-links
    %ul.hide-responsive-footer-menu
      - footer_contents.each do |link|
        - if link[:domain] == 'hourofcode.com'
          - link[:href] = resolve_url(link[:url])
        - elsif link[:domain].nil?
          - link[:href] = link[:url]
        - else
          - link[:href] = link[:url]
        %li
          %a{link.except(:title, :url, :domain)}= link[:title]
    #footer-toggle
      %a{href: "#"}
        Code.org
        %i{:class=>"fa fa-chevron-up"}
  #copyright
    = hoc_s(:footer_copyright_message, locals: {current_year: "#{Time.now.year}"})
    %br
    = hoc_s(:footer_trademark_message)
    %br
    = hoc_s(:footer_built_on_github)
  #powered-by-aws
    %a{:href=>"https://aws.amazon.com/what-is-cloud-computing"}
      %img{:src=>"/shared/images/Powered-By_logo-horiz_RGB_REV.png", :alt=>"Powered by AWS Cloud Computing", :style=>"width: 190px"}
