- content_for :og do
  = tag 'meta', property: 'og:image', content: @image_url
  = tag 'meta', property: 'og:title', content: @page_title
  = tag 'meta', property: 'og:type', content: 'website'
  = tag 'meta', property: 'twitter:title', content: @page_title
  = tag 'meta', property: 'twitter:card', content: 'summary_large_image'
  = tag 'meta', property: 'twitter:image',  content: @twitter_image_url

%script{src: webpack_asset_path("js/#{js_locale}/common_locale.js")}
%script{src: webpack_asset_path('js/certificates/show.js'), data: {certificate: @certificate_data.to_json}}

#certificate-share
